<h1>Blaga-blog</h1>
<h2>Selected Article</h2>

<p>
    <strong>Title: </strong><br><%= @article.name %>
</p><br>

<p>
    <strong>Body: </strong><br><%= @article.body %>
</p><br>

<p class='click_links'>
    <%= link_to 'Back to Articles', articles_path %>
</p>
